.container {
  width: 1200px;
}

.container>header {
  height: 120px;
}

.container>nav {
  height: 60px;
}

.container>footer {
  height: 45px;
}

#divhinhdep {
  background-color: AliceBlue;
  padding: 0;
}

#divhinhdep div.hinh {
  float: left;
  width: 180px;
  height: 120px;
  margin: 5px;
  border: 1px solid darkorange;
}

#divhinhdep div.hinh:hover {
  cursor: pointer;
}

#divhinhdep img {
  width: 100%;
  height: 100%;
}

#divhinhdep {
  background-color: AliceBlue;
  padding: 0;
}

#divhinhdep div.hinh {
  float: left;
  width: 180px;
  height: 120px;
  margin: 5px;
  border: 1px solid darkorange;
}

#divhinhdep div.hinh:hover {
  cursor: pointer;
}

#divhinhdep img {
  width: 100%;
  height: 100%;
}

.an {
  display: none;
}

.hien {
  display: block;
}